body {
    background-color: lightgrey;
  }
  
  h1 {
    color: black;
    font-family: Verdana;
    margin: 50px;
  }

  p {
    color: black;
    font-family: verdana;
    font-size: small;
  }

  table, th, td {
    border: 1px solid black;
    font-size: medium;
  }

  table {
    border-collapse: collapse;
    width: 50%;
  }
  
  th {
    height: 30px;
  }

  .button {
    background-color: white; /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
  }